.todoitem {
	display: flex;
	align-items: center;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.todoitem:hover {
	background-color: #6867AC;
	color: white;
}

.checked {
	color: #FFBCD1 !important;
}

.item-task {
	color: inherit;
	height: 2rem;
	padding-left: 25px;
	font-size: 30px;
	border: none;
	background: transparent;
}

.item-task:focus {
	outline: none;
}

.delete {
	margin-left: auto;
}
